<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">

<!-- (step 6.d) Modify this testng.xml: remove all settings for the previous task  -->

<suite name="mySchoolApiTests" verbose="2" >
    <test name="TestCaseApi::mySchoolApiTests">
        <groups>
            <run>
                <include name="group_Api_1"/> <!-- (step 6.b) realise test execution only for API tests -->
                <include name="group_Api_2"/> <!-- (step 6.b) realise test execution only for API tests -->
                <include name="group_Api_3"/> <!-- (step 6.b) realise test execution only for API tests -->
            </run>
            <dependencies>
                <group name="group_Api_2" depends-on="group_Api_1"/> <!-- (step 6.c) realise test execution order -->
                <group name="group_Api_3" depends-on="group_Api_2"/> <!-- (step 6.c) realise test execution order -->
            </dependencies>
        </groups>
        <classes>
            <class name="com.example.school.tests.api.FakeRESTApi"/>
        </classes>
    </test>
</suite>
